@import "../../_root.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.75rem 0;
  height: 100vh;
  transition: transform 0.3s ease-in;
  background-color: $black-secondary;
  border-right: 0.5px solid $border-color;
  position: sticky;
  top: 0;
  left: 0px;
  transform: translateX(-100%);
  position: fixed;
  z-index: 9999;

  &__header {
    font-weight: 550;
    &__title {
      font-size: 1.5rem;
      color: #fff;
    }
  }
  &.open {
    transform: translateX(0);
    top: 0;
  }
  hr {
    background: #acacac;
    height: 0.1px;
  }
  a {
    color: $text-color;
  }
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.2rem 0;
    padding: 0.6em 1em;
    list-style: none;
    span {
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 550;
      letter-spacing: 0.3px;
    }
    &:hover:not(:first-child) {
      background-color: $border-color;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 90px;
    li {
      justify-content: center;
      span {
        display: none;
      }
    }
  }
}
@media (max-width: 520px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 999;
    &.open {
      transform: translateX(0);
    }
  }
}
